@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
*{
    margin:none;
    padding: none;
    box-sizing: border-box;
    scroll-behavior:smooth;
   overflow-x: hidden;
}
.bgcolor.scrolled{
    background-color: #1F2833;
    transition: 1s;
}
.navbar{
       
    z-index: 9999;
}
.navbar-brand{
    color: #D8DDB7;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Comfortaa', cursive;
}
.navbar-nav > li > a{
color: #F5F3E7;
font-weight: 500;
font-size: 18px;
font-family: 'Kanit', sans-serif;
font-weight: 600;
}
.input-nav{
    border-radius: 25px;
}
.collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar-toggler {
    border: 0;
    margin-left: 1.5rem !important;
}

.navbar-toggler {
    width: 38px;
    padding: 2px;
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

.toggler-icon {
    width: 30px;
    height: 3px;
    background-color: tomato;
    display: block;
    transition: all 0.2s !important;
}

.middle-bar {
    margin: 5px auto;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg) !important;
    transform-origin: 10% 10% !important;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg) !important;
    transform-origin: 10% 10% !important;
}


.navbar-toggler.collapsed .top-bar {
    transform: rotate(0) !important;
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    margin-right: 10px;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0) !important;
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: #f5f3f0 !important;
}
.btn-nav{
    border:solid 1px #D8DDB7;
    color: #D8DDB7;
    margin-left: 3px;
    border-radius: 25px;
    padding-right: 25px;
}
.btn-nav:hover{
    border:solid 1px #D8DDB7;
    background-color: #D8DDB7;
    margin-left: 3px;
}
.header-div > h1{
position: absolute;
left: 8.5%;
top: 34%;
text-align: left;
color: rgb(223, 206, 187) !important;
overflow: hidden;
}

.header-div > a{
    position: absolute;
left: 8.5%;
top: 52%;
border: solid 1px white;
padding: 10px 20px 10px 20px;
background-color: transparent;
font-family: 'Kanit', sans-serif;
font-weight: 600;
color: white;
border-radius: 25px;
}
.header-div > a:hover{
    border: solid 1px white;
    background-color: white;
    color: #171c22;
}

@media (max-width:772px){
  .search-form{
      margin: auto;
  }

  .navbar-brand{
      color: #feffff !important;
  }
.input-nav{
height: 38px;
width: 16rem;

}
.navbar{
  
    background-color: #1F2833;
    z-index: 999 !important;
}
.collapse{
    z-index: 9 !important;
}
.header-div > h1{
    text-align: center;
    left: 0%;
   z-index: 1;
}
.header-div > a{
left: 26%;
top: 52%;
}
.img1{
  height: 30rem !important;
  background-size: cover;
}
.btn-nav{
   margin-top:0px !important;
   position: relative;
   right: 0;
   border: solid 1px #feffff !important;
color: #feffff !important;
}
.navbar-toggler:focus{
 box-shadow: none;
}
.card{
   margin-left: auto !important;
   margin-right: auto !important;
    margin-top: 30px !important;
}
.category > h1{
    margin-top: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}
.category-ul{
   margin-left: -2rem;
}
.popular-posts > .popularpost-1{
    margin-left: 0rem;
}
.main-blog-sec{
    margin-top:0rem !important;
}
.left-sec-img1{
    margin-top: 2rem;
}
}
.img1{
height: 100vh;
width: 100%;
background-size: cover;

}


/*main blog section*/
.main-blog-sec{
    margin-top:4rem;
}
.left-sec-img1{
width: 100%;
border-radius: 10px;
}
.category-ul{
    list-style: none;
    
}
.category > h1{
    margin-bottom: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    overflow: hidden;
}
.category-ul > li{
    line-height: 40px;
    padding: 4px 20px 4px 20px;
    text-align: left;
    border: solid 1px gray;
    margin-top: 10px;
    background: #1F2833;
    border-radius: 25px;
}
.category-ul > li:hover{
    background-color: #171c22;
    color: white;
    cursor: pointer;
}
.category-ul > li > a{
    color: white;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}
.left-img1-text > h1,.popularposts-h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    overflow: hidden;
}

.left-img1-btn{
    border: solid 1px #1F2833;
    padding: 5px 10px 5px 10px;
    background-color: #1F2833;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    border-radius: 0;
}
.left-img1-btn:hover{
background-color: #171c22;
color: white;
}
.popularpost-1 > img{
    width: 100%;
    height: 12rem;
    border-radius: 5px;
}
.popularpost-1{
    margin-left: 50px;
}
.popularpost-1 > h5 > a{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    margin-top: 4px;
    text-decoration: none;
    color: #171c22;
}
.popularpost-1 > h5{
    overflow: hidden;
}
.newsletter > h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    overflow: hidden;
}
.newsletter-btn{
    width: 100%;
}
.newsletter-input{
    margin-bottom: 10px;
}
.populartags > h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    overflow: hidden;
}
.tags-btns{
  line-height: 3rem;
}



/* ----------------- Footer --------------------- */

footer.footer{
    height: 100%;
    background-color: #171c22;
    
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: white;
      overflow: hidden;
}
.container > .newsletter > p{
    color: white;
      overflow: hidden;
}
.container > .follow > p{
    color: white;
      overflow: hidden;
}
.container > .about-us > p{
    color: white;
      overflow: hidden;
} 
footer.footer .newsletter .form-element{
    background-color: white;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    outline: none;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 84%;
}
::placeholder{
    color: black;
}
footer.footer .newsletter .form-element i{
    background: skyblue;
    padding: .5rem .7rem;
   margin-bottom: -11px;
   margin-top: -2px;
   margin-right: -10px;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: white;
    padding: 0 .4rem;
  
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a{
    color: white;
}
.text-gray{
    color: white;
    font-size: 16px;
    padding-bottom: 0.4rem;
}
footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}


/* ---------x------- Footer ----------x---------- */

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/*      x       Viewport less then or equal to 1130px    x     */


/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }

}


/*        x      Viewport less then or equal to 750px       x     */


/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}

/*        x      Viewport less then or equal to 520px       x     */


.p1 a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
  }
  
  .p1 a.is-active{
    background-color:#171c22;
    border-radius: 100%;
    color: #fff;
  }
  .p1 a:hover{
background-color: #171c22;
border-radius: 100%;
color: white;
  }
  .pagination{
    padding: 30px 0;
  }
 
  .pagination ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .pagination a{
    display: inline-block;
    text-decoration: none;
    color: #222;
  }

 
 